
@font-face {
	font-family: "century gothic";
	src: url("../../fonts/GOTHIC.TTF") format("truetype");

	/*font-family: "trebuchat ms";
	src: url("../../fonts/trebuc.ttf") format("truetype");*/
}

body {
	margin: 0;
	padding: 0;
	font-family: "century gothic", sans-serif;
	font-size: 13px;
	/*font-family: "trebuchat ms", sans-serif;*/
}

*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


.headline {
	color: deeppink;
}

/*
|=======================
| Custom MENU CSS Start
|=======================
*/

.menu {
	
}

.menu ul {
	
}

.menu ul li {
	
}

.menu ul li a{
	
}



/*
|================
| MENU CSS End
|================
*/

/*
|================
| COMMON CSS Start
|================
*/

.mycontainer{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.mycontainer:before,
.mycontainer:after{
	content: " ";
	clear: both;
	display: table;
	
}

.myrow{
	margin-left: -15px;
	margin-right: -15px;
}

.mycol100{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.mycol50{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.mycol33{
	width: 33.33%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.mycol25{
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}


.margin-top-bottom {
	margin-top: 20px;
	margin-bottom: 10px;
}



/*
|================
| COMMON CSS End
|================
*/


/*
|========================
| COMMON CSS COLOR Start
|========================
*/



.color-white {
	color: rgb(255, 255, 255);
}
.color-black {
	color: rgb(0, 0, 0);
}

.padding-lr-ten {
	padding-left: 10px;
	padding-right: 10px;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}


/*
|========================
| COMMON CSS COLOR End
|========================
*/

/*
|==========================
| Custom CSS For BootStrap
|==========================
*/






/*
|==========================
| Custom CSS For BootStrap
|==========================
*/

/*
| Other CSS (from raw.css)
*/

.go-top{
	
	background: rgb(226, 19, 153);
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	position: fixed;
	bottom: 8px;
	right: 15px;
	z-index: +999;
	padding: 0px 7px;
	display: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}


